# configstore/update-notifier-@github/copilot.json
# configstore/update-notifier-@google/gemini-cli.json
**/node_modules
.DS_Store
.copilot/**
.env
.env.*
aerospace/workspace-history
composer/**
configstore/**
gcloud/**
iterm2/**
nvm/**
raycast/**
tmux/plugins/**
