configstore/**
# configstore/update-notifier-@github/copilot.json
# configstore/update-notifier-@google/gemini-cli.json
**/node_modules
.DS_Store 
.env
.env.*
raycast/**
gcloud/**
.copilot/**
nvm/**
tmux/plugins/**
aerospace/workspace-history
